<div class="slide image-slide">
	<span class="section">#1: Mantener nuestro código organizado</span>
	<h1>Acumulación de Archivos</h1>
	<img src="img/angular-seed-organization.png"/>
	<span class="caption">En este ejemplo <a href="https://github.com/angular/angular-seed">Angular-Seed project</a>, los objetos que son de la misma "naturaleza" son agrupados dentro de un solo archivo. Esto nos demuestra una pobre organización de código y dará lugar a archivos gigantescos en algún momento del proyecto. Otra desventaja de este método es la pérdida de enfoque que pueden proporcionarnos los controladores de versiones como Git.</span>
	<span class="credits">Fuente:Cliff Meyers: <a href="http://cliffmeyers.com/blog/2013/4/21/code-organization-angularjs-javascript">Code Organization in Large AngularJS and JavaScript Applications</a></span>
</div> 