<div class="slide image-slide">
	<span class="section">#1: Mantener nuestro código organizado</span>
	<h1>Múltiples Directorios/Carpetas</h1>
	<div class="caption">Otra forma lógica de organizar nuestro código es la creación de varios directorios, esto simula cierta arquitectura ya que, permite dividir los archivos de su misma "naturaleza" y los tiene todos en un mismo lugar. Esto funciona en proyectos pequeños, pero si llegan a existir más de 10 archivos volvemos a la pérdida de tiempo. Los Directorios como tal no proveen arquitectura a la aplicación, sabemos que tipo de archivos existen dentro de cada directorio, pero nos vemos en la necesidad de seguir indagando para conocer las depencias que estos tienen.</div>
	<img src="img/angular-batarang-organization.png" />
</div> 
