<div class="slide image-slide">
	<span class="section">#1: Mantener nuestro código organizado</span>
	<h1>Modularidad</h1>
	<img src="img/angular-best-pratices-organization2.png"/>
	<span class="caption">La organización Modular no es una simple estructura de directorios, se puede considerar como una arquitectura. Esto permite que todo nuevo programador pueda comprender a la perfección que se encuentra dentro de cada directorio sin tener mayor conocimiento de como está estructurado el proyecto.</span>
	<span></span>
</div> 