<div class="slide image-slide centered">
	<img style="padding-top:50px;" src="img/yeoman.png"/>
	<div class="caption-wrapper" style="margin-top:-10px">
		<span class="caption">Yo crea la estructura completa de una nueva aplicación, escribiendo la configuracion correcta con Grunt y creando las tareas de Grunt que se necesiten para la creación de la app.</span>
		<span class="caption">Grunt es usado como automatizador de tareas para nuestros proyectos.</span>
		<span class="caption">Bower es usado como manejador de dependencias, espto permite que no se deba instalar nada manualmente.</span>
	</div>
</div> 